# MANIFEST.in
exclude .gitignore
exclude .coverage
exclude .travis.yml
include setup.py
prune .cache
prune .git
prune build
prune dist
recursive-exclude *.egg-info *
recursive-exclude tests *
recursive-exclude conda-recipe *
recursive-exclude ci *
recursive-exclude tests *
recursive-include src/blobtools/example *
recursive-include src/blobtools/schema *
recursive-include src/blobtools/bin *
recursive-include src/btk_pipeline *.smk
recursive-include src/btk_pipeline/rules *
recursive-include src/btk_pipeline/lib *
recursive-include src/btk/lib *
