# MANIFEST.in
exclude .gitignore
exclude .coverage
exclude .travis.yml
include setup.py
prune .cache
prune .git
prune build
prune dist
recursive-exclude *.egg-info *
recursive-exclude tests *
recursive-exclude conda-recipe *
recursive-exclude ci *
recursive-exclude tests *
recursive-exclude src *
recursive-include src/data/schema *
