pycodestyle==2.6.0
pydocstyle==5.0.2
pylint==2.5.3

coverage==5.1
coveralls==2.0.0
mock==4.0.2
pytest-cov==2.10.0
pytest-isort==1.1.0
pytest-mock==3.1.1
pytest==6.0.0

docopt==0.6.2
psutil==5.8.0
pysam==0.16.0.1
pyvirtualdisplay==2.1
pyyaml==5.4.1
selenium==3.141.0
tolkein==0.4.0
tqdm==4.59.0
ujson==4.0.2
