coveralls>=1.5
docopt>=0.6.2
mock>=2
psutil>=5.7.0
pycodestyle>=2.4
pydocstyle>=2.1.1
pylint>=2.2.2
pysam>=0.15.1
pytest-cov>=2.6
pytest-mock>=1.10
pytest>=3.7.4
pyvirtualdisplay>=0.2.4
pyyaml>=5.3
selenium>=3.141.0
tolkein
tqdm>=4.23.4
ujson>=1.35
