<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8>
<title>
BlobToolKit - Viewer
</title>
<link rel=apple-touch-icon sizes=180x180 href=/apple-touch-icon.png>
<link rel=icon type=image/png sizes=32x32 href=/favicon-32x32.png>
<link rel=icon type=image/png sizes=16x16 href=/favicon-16x16.png>
<link rel=manifest href=/manifest.json>
<% if (variables) { %> <script> <%- variables %> </script> <% } %> 
<script defer=defer src=/view/js/npm.core-js.fc7f7178e21e7e8ba5ca.js?2a11917b42555b8f36cb></script><script defer=defer src=/view/js/npm.babel.516c8552b05e4cee8239.js?2a11917b42555b8f36cb></script><script defer=defer src=/view/js/npm.lodash-es.5c9459a2f3cef7b23bba.js?2a11917b42555b8f36cb></script><script defer=defer src=/view/js/npm.lodash.30abac478bed9397aed1.js?2a11917b42555b8f36cb></script><script defer=defer src=/view/js/npm.d3-geo.a89d99866812eda6be5a.js?2a11917b42555b8f36cb></script><script defer=defer src=/view/js/npm.react-color.59c2eb5fa75c325fcf8a.js?2a11917b42555b8f36cb></script><script defer=defer src=/view/js/npm.d3-shape.25907b1b1a14515598cf.js?2a11917b42555b8f36cb></script><script defer=defer src=/view/js/npm.react-redux.f115f6001ffcd3c2476c.js?2a11917b42555b8f36cb></script><script defer=defer src=/view/js/npm.react-table.8353c078f440e8504096.js?2a11917b42555b8f36cb></script><script defer=defer src=/view/js/npm.react-tooltip.02c676d126ed60d01826.js?2a11917b42555b8f36cb></script><script defer=defer src=/view/js/npm.react-dom.cd4cfbae72ec4c5d5314.js?2a11917b42555b8f36cb></script><script defer=defer src=/view/js/npm.react-cookie-consent.cad3a2c61447354993a6.js?2a11917b42555b8f36cb></script><script defer=defer src=/view/js/npm.lodash.mergewith.3f7352ef6bc036a14824.js?2a11917b42555b8f36cb></script><script defer=defer src=/view/js/main.33c9ed3e311566c1f93e.js?2a11917b42555b8f36cb></script><link href=/view/css/main.5462ef5013b3a23e1f47.css?2a11917b42555b8f36cb rel=stylesheet></head>
<body>
<style>
html,
    body {
      height: 100%;
      min-height: 100%;
      margin: 0;
      overflow: hidden;
    }

    div#preloader {
      position: fixed;
      left: 0;
      top: 0;
      z-index: 999;
      width: 100%;
      height: 100%;
      overflow: visible;
      background: rgb(49, 50, 63);
      display: flex;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    .flex-item {
      color: white;
      //font-weight: bold;
      text-align: center;
      font-family: "helvetica neue", helvetica, arial, sans;
    }

    .lds-ripple {
      display: inline-block;
      position: relative;
      width: 64px;
      height: 64px;
    }

    .lds-ripple div {
      position: absolute;
      border: 4px solid #fff;
      opacity: 1;
      border-radius: 50%;
      animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    }

    .lds-ripple div:nth-child(2) {
      animation-delay: -0.5s;
    }

    @keyframes lds-ripple {
      0% {
        top: 28px;
        left: 28px;
        width: 0;
        height: 0;
        opacity: 1;
      }

      100% {
        top: -1px;
        left: -1px;
        width: 58px;
        height: 58px;
        opacity: 0;
      }
    }
</style>
<div id=app>
<div id=preloader>
<div class=flex-item>
<h2>Loading BlobToolKit Viewer
</h2></div>
<div class=flex-item>
<div class=lds-ripple>
<div></div>
<div></div>
</div>
</div>
</div>
</div>
</body>
</html>