@import "web-fonts";
@import "colors";
@import url(web-fonts-url("Open Sans", "Comfortaa"));

html,
body,
main {
  height: 100%;
  width: 100%;
  overflow: auto;
  overscroll-behavior: none;
}

.app {
  position: absolute;
  width: 100%;
  height: 100%;
  min-width: 960px;
  min-height: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10pt;
  overscroll-behavior: none;
  overflow: hidden;

  h1,
  h2,
  h3,
  h4 {
    font-family: "Comfortaa", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  a {
    text-decoration: none;
  }
  svg {
    .axis_title {
      font-family: "Comfortaa", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
  }
}
