@import 'colors';

.outer {
  position:relative;
  width:10em;
  height:10em;
  margin:1em;
  background-color: $paleColor;
}

.view_height {
  max-height:100vh;
  overflow-y: scroll;
  width:500px;
}

.dataset_controls {
  top: 0em;
  z-index: 10;
  width:30em;
  height:2em;
  background-color: none;
  margin:0.5em 0;

  span.button {
    display:inline-block;
    padding:0.2em;
    margin:0.2em;
    cursor:pointer;
    background-color:$highlightColor;
    color:$lightColor;
    float:right;
  }

  span.list_button {
    margin: -0.2em 0 0 0;
    width: 30%;
    text-align: center;
    float: left;
  }

  input {
    width: 60%;
    margin: -0.2em 0 0 0;
    padding: 0.2em;
    border: none;
    height: 100%;
    float: left;
  }

  span.button:hover {
    background-color:rgba($highlightColor,0.5);
  }

  div.detail_container {
    background-color:$darkColor;
    color:$paleColor;
    height:1.4em;
    width:calc(100% - 0.4em);
    padding:0.2em 0;
    margin:0.2em;
    position:relative;
    float:left;
  }

  div.list_detail {
    background: none;
  }

  div.detail {
    background-color:$paleColor;
    color:$darkColor;
    position:absolute;
    top:0;
    left:0;
    padding:0.2em 0;
    white-space: nowrap;
    overflow:hidden;
    height:calc( 100% - 0.4em );
  }

}
