@import "web-fonts";
@import "colors";
@import url(web-fonts-url("Open Sans", "Comfortaa"));

.main {
  position: absolute;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  display: flex;
  flex-direction: column;
  background-color: $lightColor;
}

.fill_parent {
  width: 100%;
  height: 100%;
  position: relative;
}

.menu_outer {
  width: 100%;
  height: auto;
  position: relative;
}

.quarter {
  position: relative;
  float: left;
  width: 50%;
  height: 50%;
  min-width: calc(500px - 0%);
  min-height: calc(500px - 0%);
}

.modalDialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $lightColor;
  border-radius: 20px;
  padding: 24px 12px 0 12px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: none;
  box-shadow: none;
  overflow: visible;
  &:focus {
    outline: none;
  }
}

.modal {
  width: 100%;
  height: 100%;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  h1,
  h2,
  h3 {
    font-family: "Comfortaa", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .button {
    display: inline-block;
    border-radius: 1em;
    background-color: $highlightColor;
    color: $lightColor;
    padding: 0 0.5em;
    cursor: pointer;
  }

  .code_block {
    width: 100%;
    max-height: 50vh;
    overflow: auto;
  }
}

.main_header {
  position: relative;
  z-index: 10;
  width: 100%;
  flex: 0 0 4em;
  background-color: $darkColor;
  // box-shadow: 0px 0px 4px 1px $shadeColor;
}

.main_header_tab {
  position: relative;
  width: 9em;
  height: 100%;
  text-align: center;
  color: $paleColor;
  display: inline-block;
  cursor: pointer;
  // border: solid 1px $darkColor;
  box-sizing: border-box;
  margin-right: -1px;
  // border-top: none;
  // border-bottom: none;
  border: none;
}

.main_header_tab:hover {
  background-color: $highlightColor;
  color: $lightColor;
}

.main_header_tab.active {
  background-color: $highlightColor;
  color: $lightColor;
}

.main_footer {
  z-index: 10;
  width: 100%;
  flex: 0 0 calc(20px + 0.8em);
  background-color: $darkColor;
  // box-shadow: 0px 0px 4px 1px $shadeColor;

  .doi_badge {
    position: relative;
    float: left;
    margin: 0.4em 0 0 0;
    overflow: hidden;
  }

  span {
    color: white;
    display: inline-block;
    margin: 0.5em;
    margin-top: 1em;

    a {
      color: $highlightColor;
      text-decoration: underline;
    }
  }

  span.logo {
    float: right;
    height: 2em;
    margin-top: 0.5em;
    img {
      cursor: pointer;
      height: 2em;
      background-color: $lightColor;
      box-sizing: border-box;
      border: 2px solid $lightColor;
      margin: 0 0.2em;
      border-radius: 0.2em;
    }
  }
}

.right_align {
  text-align: right;
}

.left_align {
  text-align: left;
}

table {
  .highlight {
    background-color: $highlightColor;
    color: $lightColor !important;
  }
}

.content {
  flex: 1 1 auto;
  position: relative;
  display: flex;
  flex-direction: row;
  min-width: 0;
  min-height: 0;
}

.plot_area {
  flex: 1 1 auto;
  min-height: 0;
  min-width: 0;
  overflow: auto;
}

.detail_link {
  display: inline-block;
  float: right;
  font-size: 0.8em;
}

.menu {
  left: 0;
  top: 0;
  bottom: 0;
  flex: 0 0 31em;
  z-index: 5;
  background-color: $deepColor;
  overflow-y: auto;
  overflow-x: hidden;
  // box-shadow: 0px 0px 8px 4px $shadeColor;
  color: $lightColor;

  a {
    color: $paleColor;
    //text-decoration:underline;
  }

  a:visited {
    color: $paleColor;
  }

  .sticky {
    top: 0em;
    position: sticky;
    height: 3.3em;
    width: 30em;
    z-index: 20;
    background-color: $darkColor;
    border-bottom: solid $paleColor;
    border-top: solid $paleColor;
  }
}

.menu::-webkit-scrollbar {
  background: $deepColor;
  width: 1em;
}

.menu::-webkit-scrollbar-thumb {
  background: rgba($lightColor, 0.5);
  border-radius: 1em;
}

.menu_item {
  position: relative;
  width: calc(100% - 2em);
  height: 4em;
  margin-top: 0.5em;
  padding: 1em;
  background-color: $darkColor;
  overflow: hidden;
  color: $paleColor;

  .right {
    float: right;
    position: relative;
    border-radius: 1em;
    border: 0.2em solid $deepColor;
    color: $lightColor;
    padding: 0 0.5em;
    cursor: pointer;
  }

  .cover {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 1em;
    cursor: pointer;
    right: 0;
  }

  h3 {
    margin-top: 0.5em;
  }
}

.long_menu_item {
  position: relative;
  width: calc(100% - 2em);
  height: auto;
  margin-top: 0.5em;
  padding: 1em;
  background-color: $darkColor;
  color: $paleColor;
  .highlight {
    font-weight: bold;
    color: $highlightColor;
  }

  table {
    border-collapse: collapse;
    tr {
    }
    td {
      padding: 0.5em 0.5em 0 0.5em;
    }
  }
}
.colored_tab {
  display: inline-block;
  position: relative;
  width: 1.4em;
  height: 1.4em;
  box-sizing: border-box;
  margin-right: 0.4em;
  cursor: pointer;
}

.colored_tab.highlight,
.colored_tab.clear,
.colored_tab.partial {
  border: 2px solid $shadeColor;
  border-radius: 2px;
}

.view_link {
  display: inline-block;
  color: $lightColor;
  margin: 0 0.2em;
  cursor: pointer;
}

.colored_tab.highlight {
  background-color: $highlightColor;
}

.partial_tab {
  display: inline-block;
  position: relative;
  width: 1.4em;
  height: 1.4em;
  box-sizing: border-box;
  margin-right: 0.4em;
  border: 2px solid $lightColor;
}

.partial_tab::before {
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  left: -2px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 1.4em 1.4em;
  border-color: transparent transparent rgba($highlightColor, 0.75) transparent;
}

.partial_tab::after {
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  left: -2px;
  height: 100%;
  width: 100%;
  border: 2px solid $shadeColor;
  border-radius: 2px;
  cursor: pointer;
  background-color: $clearColor;
}

.colored_tab.clear {
  background-color: $lightColor;
}

.menu_subtitle {
  display: inline-block;
  position: absolute;
  left: 6em;
  bottom: 0.5em;
}

.menu_count {
  display: inline-block;
  position: absolute;
  right: 0.5em;
  bottom: 0.5em;
  background-color: inherit;
  padding-left: 0.5em;
}

.menu_item:hover,
.menu_item.active {
  background-color: $highlightColor;
  color: $lightColor;
}

.dropzone_menu_item {
  position: relative;
  width: calc(100% - 2em);
  height: 4em;
  margin-top: 0.5em;
  padding: 1em;
  background-color: $darkColor;
  overflow: hidden;
  color: $paleColor;
}

.dropzone {
  width: 29em;
  height: 4em;
  color: $shadeColor;
  border-width: 2px;
  border-color: $shadeColor;
  border-style: dashed;
  border-radius: 5px;
  box-sizing: border-box;
  float: right;
  cursor: pointer;
  padding: 0.4em;
}

.dropzone_active {
  border-style: solid;
  border-color: $highlightColor;
  background-color: $highlightColor;
  color: $lightColor;
}

.dropzone_accept {
  background-color: $highlightColor;
  border-color: $highlightColor;
  color: $lightColor;
}

.dropzone_reject {
  border-color: $deepColor;
  background-color: $darkColor;
  color: $darkColor;
}

.simple {
  position: relative;
  top: 0;
  left: 0;
  margin-top: 0.5em;
  height: 2em;
  width: 100%;
  line-height: 2em;
  background-color: $highlightColor;
  color: $lightColor;

  h1 {
    font-size: 1em;
    margin: 0 0 0 0.5em;
  }

  .simple_buttons {
    float: right;
    text-align: right;
    height: 2em;
    color: $darkColor;
  }

  .simple_button {
    float: right;
    width: 1.5em;
    text-align: center;
    height: 2em;
    line-height: 2em;
  }
}

.simple.inv {
  // border-top: 0.25em solid $darkColor;
  // border-bottom: 0.25em solid $darkColor;
  background-color: $darkColor;
  color: $lightColor;
  // margin:0 0 -0.5em 0;
  margin: 0;

  .simple_buttons {
    color: $lightColor;
  }

  .simple_button {
  }
}

.flip_horiz {
  transform: scaleX(-1);
}

.full_height {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

.middle,
.range_input {
  vertical-align: middle;
  margin-right: 0.5em;
}

.range_input {
  border: solid $lightColor;
  width: 6em;
  border: 2px solid $lightColor;
  width: 9em;
  padding-left: 0.5em;
  margin-top: -0.2em;
  height: 100%;
  box-sizing: border-box;
  color: white;
  background-color: $deepColor;
}

.inline {
  display: inline-block;
}

.no_break {
  white-space: nowrap;
}

.external_link {
  text-decoration: underline;
}

.external_link:after {
  content: " "
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIpJREFUeNqEkIEJwCAMBGPpEs7hHK6hY+gauoZr6Bo6RtqEWkxb6EMQnuM/USEirIoxSmOKwDkhBEwp4VPkb4801Xun9xW4e+9FldYarLUvkBPPOp4JGWOgtSaSt6VWQKUU9nPOEiSIgAmNMdadFTjn7utqrXwh6fLvH9nXhamW5ksMnpfDnw4BBgBfunO056MmqAAAAABJRU5ErkJggg==);
}

.warning {
  position: absolute;
  z-index: 1000;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10em;
  background-color: rgba($highlightColor, 0.85);
  padding-left: 2em;
  color: $lightColor;
}

.dismiss,
.info {
  font-family: "Comfortaa", Helvetica, Arial, sans-serif;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 1em;
  right: 1em;
  height: 2em;
  width: 2em;
  border-radius: 1em;
  background-color: $deepColor;
  color: $lightColor;
}

.dismiss::after {
  content: "X";
}

.info {
  background-color: $highlightColor;
}

.info::after {
  content: "i";
  font-style: italic;
  font-weight: bold;
}

.hints {
  font-size: 0.75em;
  color: $shadeColor;
  display: block;
}

.toggle {
  cursor: pointer;
  text-decoration: underline;
}

.toggle:hover {
  color: $highlightColor;
}

span.tableDownload {
  float: right;
  .save_svg {
    position: relative;
    display: inline-block;
    right: 0;
    background-color: rgba($lightColor, 0.8);
    color: $highlightColor;
    margin-right: 0.5em;
    font-size: 0.8em;
    cursor: pointer;
  }
}

span.reset {
  margin-right: 0.5em;
  color: $lightColor;
  cursor: pointer;
}

div.reset {
  float: right;
  color: $lightColor;
  cursor: pointer;
}

.floating {
  position: absolute;
  z-index: 100;
}

.hidden {
  display: none;
}

.source {
  background-color: $shadeColor;
  color: $deepColor;
}

.menuTextarea {
  font-family: monospace;
  font-size: 1em;
  min-width: 80%;
  max-width: 80%;
  padding: 2px;
  border: solid 2px $lightColor;
  background-color: $deepColor;
  color: $lightColor;
}

.menuButton {
  margin-top: 1.125em;
  margin-right: 0.5em;
  float: right;
  background-color: $deepColor;
  border-radius: 0;
  border: 2px solid $highlightColor;
  color: $lightColor;
  padding: 0.25em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  cursor: pointer;
  box-sizing: border-box;
}

.menuButton:hover {
  background-color: $highlightColor;
}

.message {
  color: $lightColor;
  background-color: $highlightColor;
  padding: 1em;
}
