@import 'web-fonts';
@import 'colors';
@import url(web-fonts-url('Open Sans', 'Comfortaa'));

.outer {
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  background-color: $shadeColor;
  color:$lightColor;
  font-family:'Comfortaa', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding:5em;
  pointer-events: none;
}

.text {
  display: inline-block;
  position: relative;
  height: 2em;
  margin-left: 1em;
  font-size: 1.2em;
}


// /* https://loading.io/css/ */
//
// .lds-ripple {
//   display: inline-block;
//   position: relative;
//   top:0.3em;
//   width: 2em;
//   height: 2em;
// }
// .lds-ripple div {
//   position: absolute;
//   border: 0.2em solid $highlightColor;
//   opacity: 1;
//   border-radius: 50%;
//   animation: lds-ripple 1.2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
// }
// .lds-ripple div:nth-child(2) {
//   animation-delay: -0.5s;
// }
// @keyframes lds-ripple {
//   0% {
//     top: 1em;
//     left: 1em;
//     width: 0;
//     height: 0;
//     opacity: 1;
//   }
//   100% {
//     top: -1px;
//     left: -1px;
//     width: 2em;
//     height: 2em;
//     opacity: 0;
//   }
// }
//
//
// .lds-ellipsis {
//   display: inline-block;
//   position: relative;
//   width: 1em;
//   height: 1em;
// }
// .lds-ellipsis div {
//   position: absolute;
//   top: 0.65em;
//   width: 0.35em;
//   height: 0.35em;
//   border-radius: 50%;
//   border: solid 1px $lightColor;
//   background: $highlightColor;
//   animation-timing-function: cubic-bezier(0, 1, 1, 0);
// }
// .lds-ellipsis div:nth-child(1) {
//   left: 0.6em;
//   animation: lds-ellipsis1 0.6s infinite;
// }
// .lds-ellipsis div:nth-child(2) {
//   left: 0.7em;
//   animation: lds-ellipsis2 0.6s infinite;
// }
// .lds-ellipsis div:nth-child(3) {
//   left: 1.2em;
//   animation: lds-ellipsis2 0.6s infinite;
// }
// .lds-ellipsis div:nth-child(4) {
//   left: 1.8em;
//   animation: lds-ellipsis3 0.6s infinite;
// }
// @keyframes lds-ellipsis1 {
//   0% {
//     transform: scale(0);
//   }
//   100% {
//     transform: scale(1);
//   }
// }
// @keyframes lds-ellipsis3 {
//   0% {
//     transform: scale(1);
//   }
//   100% {
//     transform: scale(0);
//   }
// }
// @keyframes lds-ellipsis2 {
//   0% {
//     transform: translate(0, 0);
//   }
//   100% {
//     transform: translate(19px, 0);
//   }
// }

.outer {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: $darkColor;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.flex-item {
  color: white;
  //font-weight: bold;
  text-align: center;
  font-family: "helvetica neue", helvetica, arial, sans;
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}
