{
  "links": {
    "taxon": {
      "taxid": {
        "ENA": "https://www.ebi.ac.uk/ena/browser/view/Taxon:{taxid}"
      },
      "species": {
        "Wikipedia": "https://wikipedia.org/wiki/{species}"
      }
    },
    "blobtoolkit": {
      "commit": {
        "Github": "{pipeline}/tree/{commit}"
      }
    },
    "assembly": {
      "biosample": {
        "ENA": "https://www.ebi.ac.uk/ena/browser/view/{biosample}"
      },
      "bioproject": {
        "ENA": "https://www.ebi.ac.uk/ena/browser/view/{bioproject}"
      }
    },
    "position": [
      {
        "patterns": [
          {
            "title": "NCBI RefSeq",
            "template": "https://www.ncbi.nlm.nih.gov/nuccore/{subject}",
            "regex": "^([NXW][A-Z]_.+.d+)$"
          },
          {
            "title": "UniProt",
            "template": "https://www.uniprot.org/uniprot/{subject}",
            "regex": "^([OPQ][0-9][A-Z0-9]{3}[0-9]|[A-NR-Z][0-9]([A-Z][A-Z0-9]{2}[0-9]){1,2})$"
          },
          {
            "title": "UniProt",
            "template": "https://www.uniprot.org/uniprot/{subject}",
            "regex": "^tr.+([OPQ][0-9][A-Z0-9]{3}[0-9]|[A-NR-Z][0-9]([A-Z][A-Z0-9]{2}[0-9]){1,2})"
          },
          {
            "title": "ENA",
            "template": "https://www.ebi.ac.uk/ena/browser/view/{subject}",
            "regex": "^(.+)$"
          }
        ]
      },
      {
        "UniProt": "https://www.uniprot.org/uniprot/{subject}"
      }
    ],
    "position_reverse": "_aa_"
  }
}
